@*Demo 7 - Shopping Cart; LV*@
@{
    ViewData["Title"] = "Order Confirmation";
}

<h1>Order Confirmation</h1>
<h3>Your order has been placed. Thank You.</h3>
<p>
    <a asp-action="Search" asp-controller="Shop">Continue Shopping</a>
</p>

