@model HandsOnEx4.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryFK" class="control-label">Category</label>
                <select asp-for="CategoryFK" class ="form-control" asp-items="ViewBag.CategoryFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryFK" class="control-label">SubCategory</label>
                <select asp-for="SubCategoryFK" class ="form-control" asp-items="ViewBag.SubCategoryFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelNumber" class="control-label"></label>
                <input asp-for="ModelNumber" class="form-control" />
                <span asp-validation-for="ModelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCost" class="control-label"></label>
                <input asp-for="UnitCost" class="form-control" />
                <span asp-validation-for="UnitCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label">Product Thumbnail</label>
                <input asp-for="Thumbnail" class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <input asp-for="Availability" class="form-control" />
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add a Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
