@* model Employee; *@
@model Employee;

@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_HOE3Layout.cshtml";
}

@*
<p>Name: @Model?.Name</p>
<p>Department: @Model?.Department</p>
<p>Salary: @($"{Model?.Salary:c0}")</p> *@

@* <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Employee e in Model) {
        <tr>
            <td>@e?.Name</td>
            <td>@($"{e?.Salary:c0}")</td>
        </tr>
        }
    </tbody>
</table> *@

@if (ViewBag.Experience == 0) {
    @: OK
} else if (ViewBag.Experience <= 4 ) {
    <b>Good</b>
} else {
    <b>@ViewBag.Experience Years - Great</b>
}
@switch (ViewBag.Experience) {
    case 0:
        @: OK
        break;
        case 1:
        case 2:
        case 3:
        @: Good
        break;
        case 4:
        @: Great
        break;
        default:
        @: @ViewBag.Experience Years - Excellent
        break;
}
